<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>


  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />

  {%- liquid

    assign main_font = settings.main_font
    assign heading_font = settings.heading_font
    assign nav_font = settings.nav_font
    assign main_font_bold = main_font | font_modify: 'weight', 'bolder'
    assign main_font_italic = main_font | font_modify: 'style', 'italic'
    assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'

  -%}

  <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'vendor-video.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">


  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <title>{% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}

  {% render 'social-media-meta-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">

  <style>


		/* ibm-plex-sans-300 - latin */
		@font-face {
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 300;
			src: url('{{ "ibm-plex-sans-v2-latin-300.eot" | asset_url }}'); /* IE9 Compat Modes */
			src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
				url('{{ "ibm-plex-sans-v2-latin-300.eot" | asset_url }}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('{{ "ibm-plex-sans-v2-latin-300.woff2" | asset_url }}') format('woff2'), /* Super Modern Browsers */
				url('{{ "ibm-plex-sans-v2-latin-300.woff" | asset_url }}') format('woff'), /* Modern Browsers */
				url('{{ "ibm-plex-sans-v2-latin-300.ttf" | asset_url }}') format('truetype'), /* Safari, Android, iOS */
				url('{{ "ibm-plex-sans-v2-latin-300.svg" | asset_url }}#IBMPlexSans') format('svg'); /* Legacy iOS */
		}
		/* karla-700 - latin */
		@font-face {
			font-family: 'Karla';
			font-style: normal;
			font-weight: 700;
			src: url('{{ "karla-v6-latin-700.eot" | asset_url }}'); /* IE9 Compat Modes */
			src: local('Karla Bold'), local('Karla-Bold'),
				url('{{ "karla-v6-latin-700.eot" | asset_url }}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('{{ "karla-v6-latin-700.woff2" | asset_url }}') format('woff2'), /* Super Modern Browsers */
				url('{{ "karla-v6-latin-700.woff" | asset_url }}') format('woff'), /* Modern Browsers */
				url('{{ "karla-v6-latin-700.ttf" | asset_url }}') format('truetype'), /* Safari, Android, iOS */
				url('{{ "karla-v6-latin-700.svg" | asset_url }}#Karla') format('svg'); /* Legacy iOS */
		}
		/* reem-kufi-regular - latin */
		@font-face {
			font-family: 'Reem Kufi';
			font-style: normal;
			font-weight: 400;
			src: url('{{ "reem-kufi-v4-latin-regular.eot" | asset_url }}'); /* IE9 Compat Modes */
			src: local('Reem Kufi Regular'), local('ReemKufi-Regular'),
				url('{{ "reem-kufi-v4-latin-regular.eot" | asset_url }}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('{{ "reem-kufi-v4-latin-regular.woff2" | asset_url }}') format('woff2'), /* Super Modern Browsers */
				url('{{ "reem-kufi-v4-latin-regular.woff" | asset_url }}') format('woff'), /* Modern Browsers */
				url('{{ "reem-kufi-v4-latin-regular.ttf" | asset_url }}') format('truetype'), /* Safari, Android, iOS */
				url('{{ "reem-kufi-v4-latin-regular.svg" | asset_url }}#ReemKufi') format('svg'); /* Legacy iOS */
		}
    {% if collection %}
     .grid__wrapper.full {
       margin-bottom:-20px;
     }
    {% endif %}
	</style>

  {{ content_for_header }}
    <!-- shareasale https://shareasale.atlassian.net/wiki/spaces/SAS/pages/391053356/Custom+Car+Tracking+Setup#Master-Tag-Installation -->
  <script src='https://www.dwin1.com/61277.js' type='text/javascript' defer='defer'></script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "is82doy64u");
</script>
	<!-- JS
	================================================== -->
	<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MSDLL39');</script>
    <!-- End Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81357709-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-81357709-1');
  	</script>

<!--Gem_Page_Header_Script-->
{% render 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
  <!-- OneTrust Cookies Consent Notice start for www.petitestudionyc.com -->
<script src="https://cdn.cookielaw.org/consent/a2eaf7b9-da8a-4f60-9c3b-0be041e67808/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="a2eaf7b9-da8a-4f60-9c3b-0be041e67808" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end for www.petitestudionyc.com -->
  <script>
    window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
    window._template = {
        directory: "{{ template.directory }}",
        name: "{{ template.name }}",
        suffix: "{{ template.suffix }}"
    }
  </script> 
      <script>
    window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
    window._template = {
        directory: "{{ template.directory }}",
        name: "{{ template.name }}",
        suffix: "{{ template.suffix }}"
    }
  </script> 
                <script src="https://cdn.intelligems.io/c13e67a0cdea.js"></script>       
</head>
<body class="gridlock template-{{ template | handleize }} js-slideout-toggle-wrapper js-modal-toggle-wrapper {% render 'body-classes' %}">
  <div class="js-slideout-overlay site-overlay"></div>
  <div class="js-modal-overlay site-overlay"></div>

  <aside class="slideout slideout__drawer-left" data-wau-slideout="mobile-navigation" id="slideout-mobile-navigation">
    {% section 'mobile-navigation' %}
  </aside>

  <div class="site-wrap">

    <theme-header>
      {% sections 'header-group' %}
    </theme-header>

    <div class="page-wrap">
      <main class="content-wrapper" role="main">

        {% render 'mobile-search' %}
        {{ content_for_layout }}

      </main>
    </div><!-- /.page-wrap -->

    <theme-footer>
    {% sections 'footer-group' %}
    </theme-footer>

    <style>
      @font-face {
font-family: 'Reem Kufi';
src: url(https://cdn.shopify.com/s/files/1/1094/6908/files/reem-kufi-v4-latin-regular.woff2?v=1704415877) format('woff2');
}
            @font-face {
font-family: 'IBM Plex Sans';
src: url(https://cdn.shopify.com/s/files/1/1094/6908/files/ibm-plex-sans-v2-latin-300_a7c9a3e4-f445-4806-b57b-472643db74ca.woff2?v=1705248787) format('woff2');
}
                  @font-face {
font-family: 'Karla';
src: url(https://cdn.shopify.com/s/files/1/1094/6908/files/karla-v6-latin-700.woff2?v=1705248970) format('woff2');
}
    </style>

    <div style="display:none;" data-wau-slideout-content="search-sidebar" data-wau-slideout="search-sidebar">
      <div class="slideout__trigger--close">
        <button class="slideout__trigger-search-sidebar js-slideout-close" data-slideout-direction="right" aria-label="Close sidebar" tabindex="0" type="button" name="button">
          <div class="icn-close"></div>
        </button>
      </div>
      <div class="sidebar__search-container">
        {%- render 'predictive-search' -%}
      </div>
    </div>

  </div><!-- /.site-wrap -->

  {%- if settings.cart_type == 'drawer' -%}
  <aside class="slideout slideout__drawer-right mini-cart" data-wau-slideout="ajax-cart" id="slideout-ajax-cart">
    {% render 'cart-mini' %}
  </aside>
  {% elsif settings.cart_type == 'modal_cart' %}
  <div class="modal__container" data-wau-modal="ajax-cart" id="modal-ajax-cart">
    <div class="modal__inner-wrapper">
      {% render 'cart-mini' %}
    </div>
  </div>
  {%- endif -%}
  {%- if settings.quickview -%}
  <div class="modal__container" data-wau-modal="quickview" id="modal-quickview-cart">
    <div class="modal__inner-wrapper">
      {%- render 'product-quickview' -%}
    </div>
  </div>
{%- endif -%}

  {% render 'cart-config' %}
  <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
  <script src="{{ 'vendor-video.js' | asset_url }}" defer></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>

  <a href="#" title="{{ 'general.scrollup.title' | t }}" class="scrollup">
    {% render 'snip-icons',
       wrapper: '.scrollup',
       type: 'apollo',
       icon: 'up-carrot',
       classes: 'scrollup--icon',
       size: '14px',
       fill: 'var(--text-color)',
       hover: 'var(--text-color)' %} <span>{{ 'general.scrollup.content' | t | upcase }}</span>
  </a>
  {% section 'mailing-popup' %}
  <div class="clear"></div>
<script>
  function updateClassName() {
    var myDiv = document.getElementById("button__location");

    // Check the screen width
    var screenWidth = window.innerWidth;

    // Change class based on screen width
    if (screenWidth >= 600) {
      myDiv.classList.remove("slideshow__caption-wrapper", "a-center");
      myDiv.classList.add("slideshow__caption-wrapper", "a-left");
    } else {
      myDiv.classList.remove("slideshow__caption-wrapper", "a-left");
      myDiv.classList.add("slideshow__caption-wrapper", "a-center");
    }
  }

  // Example: Change the class on page load and listen for window resize
  window.addEventListener("load", updateClassName);
  window.addEventListener("resize", updateClassName);
</script>

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  {%- if request.page_type contains 'customers/' or template == 'cart' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            {% render 'snip-icons',
             wrapper: '.pswp__button',
             type: 'apollo',
             icon: 'left-carrot',
             classes: 'pswp__button--icon',
             size: '12px',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
          </button>
          <button class="pswp__button pswp__button--close" title="Close (Esc)">
            {% render 'snip-icons',
             wrapper: '.pswp__button',
             type: 'apollo',
             icon: 'close',
             classes: 'pswp__button--icon',
             size: '16px',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
          </button>          
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            {% render 'snip-icons',
             wrapper: '.pswp__button',
             type: 'apollo',
             icon: 'right-carrot',
             classes: 'pswp__button--icon',
             size: '12px',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
          </button>
        </div>
    </div>
  </div>
  <script>
   AOS.init();
 </script>
  
<!-- Stamped - Begin script -->

  <script>function myInit(){ StampedFn.init({ apiKey: 'pubkey-s00418R0fcs3707Oj02ZjxcDAIaa0i', sId: '44283' }); }</script>
<script async onload="myInit()" type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>
  <!-- Stamped - End script -->
  
<!--Gem_Page_Footer_Script-->
  {%- liquid
    assign gpTemplateSuffix = template.suffix
    assign arrSplitSuffix = gpTemplateSuffix | split: '-'
    if gpTemplateSuffix contains 'gem-' and gpTemplateSuffix contains '-template' and arrSplitSuffix.size == 3
      assign isV6GpTemplate = true
    endif
    assign gpShopMeta = shop.metafields.gempages
    if gpShopMeta
      if gpShopMeta['productV6-default'] == 'true' and request.page_type == 'product'
        assign isProductDefault = true
      endif
      if gpShopMeta['collectionV6-default'] == 'true' and request.page_type == 'collection'
        assign isCollectionDefault = true
      endif
      if gpShopMeta['indexV6-default'] == 'true' and request.page_type == 'index'
        assign isIndexDefault = true
      endif
      if isProductDefault or isCollectionDefault or isIndexDefault or isPreviewV6
        assign isV6GpTemplate = true
      endif
    endif
  %}
  {% if isV6GpTemplate %}
    {% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT %}
  {% endif %}
<!--End_Gem_Page_Footer_Script-->

  <script>
window.addEventListener('load', function() {
var _learnq = window._learnq || [];
function addedToCart() {
  fetch(`${window.location.origin}/cart.js`)
  .then(res => res.clone().json().then(data => {
    var cart = {
      total_price: data.total_price/100,
      $value: data.total_price/100,
      total_discount: data.total_discount,
      original_total_price: data.original_total_price/100,
      items: data.items
    }
    if (item !== 'undefined') {
      cart = Object.assign(cart, item)
    }
    if (klAjax) {
        _learnq.push(['track', 'Added to Cart', cart]);
        klAjax = false;
      }
  }))
};
(function (ns, fetch) {
  ns.fetch = function() {
    const response = fetch.apply(this, arguments);
    response.then(res => {
      if (`${window.location.origin}/cart/add.js`
      	.includes(res.url)) {
        	addedToCart()
      }
    });
    return response
  }
}(window, window.fetch));
var klAjax = true;
var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
for (var i = 0; i < atcButtons.length; i++) {
    atcButtons[i].addEventListener("click", function() {
      if (klAjax) {
        _learnq.push(['track', 'Added to Cart', item]);
        klAjax = false;
      }
    })
}
});
</script>

  <script src="https://cdn.attn.tv/petitestudio/dtag.js"></script>  

</body>
</html>
